.modal {
  position: absolute;
  z-index: $zModals;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal--hidden {
  display: none;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
}
