.txt-input {
  background-color: transparent;
  border: 0;
  //border-radius: $btnBorderRadius;
  border-bottom: 0.2em solid $xlight;
  padding: $btnPadding;

  &:invalid {
    outline: 2px solid orange;
  }
}

.txt-input__label {
 margin-right: 1em;
}
