/******************************* colors **************************/

$xlight: white;
$grey: rgba(100,100,100,1);

/******************************* fonts **************************/

$fontStackRounded: 'Varela Round', sans-serif;

/******************************* padding **************************/

$btnPadding: 0.5em 0.8em 0.45em;

/******************************* sizes **************************/

$btnBorderRadius: 5px;



