html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  background-color: #0ca5c7;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input {
  color: inherit;
  font-size: 1em;
}

input:invalid {
  outline: 1px solid red;
}

section {
  padding: 1em;
}

h1 {
  font-size: 3em;
  font-weight: 200;
}

.header {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
}

.header > * {
  display: inline-block;
  margin-left: 1em;
}

.add-restaurant {
  text-align: center;
  padding: 1em;
}

.restaurant {
  display: inline-block;
  padding: 1em;
}
